body {
	background-color: #C5DE7E;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 1em;
}

#content {
	width: 820px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border: 0px;
	background-color: #98bf21;
	height: 1px;	
}

h2 {
	color: #5D7A07;
	margin-bottom: 4px;
}

.subtitle {
	color: #88AB1F;
	margin-top: 0px;
}

.subtitle {
	color: #5D7A07;
}

.input {
	border: 1px solid #98bf21;
	color: #617A61;
}

.add {
	color: white;
	border: 1px solid #98bf21;
	background-color: #BEE34F;
}

.download {
	color: white;
	border: 1px solid white;
	background-color: #BEE34F;
}

.delete {
    color: white;
    border: 1px solid white;
    background-color: #99BA3D;
}

.add:hover, .download:hover {
	background-color: #99BA3D;
}

.delete:hover {
    background-color: #BEE34F;
}

.errors {
	color: maroon;
	text-align: left;
	font-size: 0.8em;
}

#rhymes {
	color: #617A61;
	border-collapse:collapse;
	text-align: left;
	width: 818px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

td {
	border: 1px solid #98bf21;
	/*padding: 3px 7px 3px 7px;*/
	padding: 0px 4px 0px 7px;
}

td.empty {
	text-align: center;
}

th {
	font-size: 1.1em;
	color: white;
	background-color: #a7c942;
	border: 1px solid #98bf21;
	padding: 0px 4px 0px 7px;
}

.left {
	border-right: 0px;
}

.right {
	border-left: 0px;
	text-align: right;
}

tr.tr0 td 
{
	background-color: #eaf2d3;
}

tr.tr1 td 
{
	background-color: white;
}
