<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="Rhymestore" version="2.5">

    <display-name>The Rhymestore Project</display-name>

    <!-- Configure if twitter communication is enabled -->
    <context-param>
        <param-name>TWITTER_ENABLED</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Startup ContextListener -->
    <listener>
        <listener-class>com.rhymestore.web.ContextListener</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet>
        <servlet-name>MVCServlet</servlet-name>
        <servlet-class>org.sjmvc.web.MVCServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>MVCServlet</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>

    <!-- Main document -->
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Security -->
 
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rhymestore Web Console</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rhymestore</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Basic Authentication</realm-name>
    </login-config>
    
    <security-role>
        <role-name>rhymestore</role-name>
    </security-role>

</web-app>
